<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Booking</title>
</head>
<body>
    <h1>Booking</h1>

    <div class="navbar">
        <a href="/" id="selected">Booking</a>
        <a href="/dine_bookinger">Dine bookinger</a>
        <a href="/logg-ut">Logg ut</a>
    </div>

    <div class="container">
        <div class="options">
            <h2>Book kontorplass</h2>
            <button id="book_knapp">Book valgt plass</button>
            <p id="valgt-plass">Valgt plass: ingen</p>
        </div>

        <div class="options">
            <h2>Velg dato</h2>
            <input type="date" id="datePicker" name="datePicker" min="" max="">
        </div>
    </div>

    <p id="melding" style="color: red; text-align: center;"></p>
    <div class="plasser">
        <img src="bilder/kart.jpg" id="kart">
    </div>

    <script src="js/kart.js"></script>
    
</body>
</html>