<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Booking</title>
</head>
<body>
    <h1>Booking</h1>

    <div class="navbar">
        <a href="/">Booking</a>
        <a href="/dine_bookinger" id="selected">Dine bookinger</a>
        <a href="/logg_ut">Logg ut</a>
    </div>

    <div class="options">
        <h2>Valgt plass</h2>
        <p>Plass 1</p>
        <button>Book</button>
    </div>
</body>
</html>